body {
    background: transparent;
    font-family: Arial;
    color: white;
    padding: 20px;
}

.notificacao {
    max-width: 750px;
    margin: 0 auto;
    padding: 7px;
    background: linear-gradient(135deg, #0f247e 0%, #18295a 100%);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.notificacao:hover {
    background: #e94d05;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}